{% extends 'error_base.html' %}

{% block title %}
401 - не авторизован
{% endblock %}

{% block body %}
<lottie-player 
    src="{{ url_for('static', filename='json/401.json') }}"
    background="transparent"  speed="1"
    style="width: 300px; height: 300px; top: 200px; margin-top: 140px; margin-left: auto; margin-right: auto;"
    autoplay>    
</lottie-player>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<h1>Пользователь не авторизован</h1>
<a href="/home" class="button" style="text-decoration: none;">На главную</a>
{% endblock %}